.nav-bar {
    width:100vw;
    background-color:white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar ul {
    margin:0;
    padding:0;
    display: flex;
}

.nav-option {
    border-bottom:3px solid transparent;
    padding: 0.8vw;
    list-style-type: none;    
    margin-right: 2vw;
    font-size: 2vh;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
}


.nav-option a {    
    text-decoration: none;    
}

.nav-tab:hover {
    border-bottom:3px solid #2196f3;
}

@media screen and (max-width: 600px) {
    .nav-bar ul {
        flex-direction: column;
    }        
    .nav-option {
        margin-bottom:2vh;
        padding:0;
        margin:0;
    }
    .nav-option a{
        margin: 1vh;
        display: block;
    }    
}